{% macro breadcrumb(context) %}
  {% if context.ancestors %}
    <nav class="breadcrumb">
      <ul class="breadcrumb-list">
        {% for ancestor in context.ancestors %}
          {% set step = get_section(path=ancestor) %}
          <li class="breadcrumb-item">
            <a class="breadcrumb-link" href="{{ step.permalink | safe }}">{{ step.title }}</a>
          </li>
        {% endfor %}
        <li class="breadcrumb-item active">
          <a class="breadcrumb-link" href="{{ context.permalink | safe }}">{{ context.title }}</a>
        </li>
      </ul>
    </nav>
  {% endif %}
{% endmacro breadcrumb %}

{% macro cover_image(cover_image, page_assets) %}
  {% set path = cover_image.path %}
  {% set caption = cover_image.caption %}
  {% for asset in page_assets %}
    {% if asset is matching(path) %}
      {% set cover_image = resize_image(path=asset, width=1280, op="fit_width") %}
      <figure>
        <img src="{{ cover_image.url | safe }}" />
        {% if caption %}
          <figcaption>{{ caption | markdown | safe }}</figcaption>
        {% endif %}
      </figure>
    {% endif %}
  {% endfor %}
{% endmacro cover_image %}

{% macro date_stamp(value) %}
  <span>{{ value | date(timezone="America/Los_Angeles") }}</span>
{% endmacro date_stamp %}

{% macro posse_for(path) %}
  {% set posse = load_data(path="data/posse.json") %}
  {%  if posse[path] %}
    <section class="item flex flex-between pb-6">
      <span class="item-column">
        Got a comment? A question? More of a comment than a question?
      </span>
      <span class="item-column">
        Talk to me about this page on:
        {% for service, href in posse[path] %}
          <a href="{{ href | safe }}"
            class="label centered fa fa-{{ service }}"
            title="{{ service }}"
            aria-label="{{ service }}">
            <span class="sr-only">{{ service }}</span>
          </a>
        {% endfor %}
      </span>
    </section>
  {% endif %}
{% endmacro posse_for %}

{% macro timeline(page) %}
  <div class="item flex flex-between">
    {% set blog = get_section(path="blog/_index.md") %}
    {% set year = page.year %}

    <div class="card item-column">
      <div class="card-box flex flex-column">
        {% set later = page.later %}
        {% if page.year and not later %}
          {% set next_year = year + 1 %}
          {% set next_section_path = ["blog", next_year, "_index.md"] | join(sep="/") %}
          {% if blog.subsections is containing(next_section_path) %}
            {% set next_section = get_section(path=next_section_path) %}
            {% set later = next_section.pages | last %}
          {% endif %}
        {% endif %}
        {% if later %}
          <a href="{{ later.permalink | safe }}">{{  later.title }}</a>
          <span>{{  blog::date_stamp(value=later.date) }}</span>
        {% else %}
          <span>This is the latest</span>
        {% endif %}
      </div>
    </div>

    <div class="card item-column">
      <div class="card-box flex flex-column">
      {% set earlier = page.earlier %}
      {% if not earlier %}
        {% set last_year = year - 1 %}
        {% set last_section_path = ["blog", last_year, "_index.md"] | join(sep="/") %}
        {% if blog.subsections is containing(last_section_path) %}
          {% set last_section = get_section(path=last_section_path) %}
          {% set earlier = last_section.pages | first %}
        {% endif %}
      {% endif %}
      {% if earlier %}
        <a href="{{ earlier.permalink | safe }}">{{ earlier.title }}</a>
        <span class="ml-auto">{{  blog::date_stamp(value=earlier.date) }}</span>
      {% else %}
        <span>This is the earliest</span>
      {% endif %}
      </div>
    </div>
</div>
{% endmacro timeline %}

{% macro toc(page) %}
  {% if page.toc %}
    <ul>
    {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        <li>
                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endif %}
{% endmacro toc %}

