{# Summaries of secondary information about countent #}

{% import "macros/blog.html" as blog %}
{% import "macros/link.html" as link %}

{% macro for_article(article, verbose=true) %}
  {% set taxonomies = article.taxonomies %}

  <section>
    {% if taxonomies %}
      <section class="my-3">
        {% set tags = taxonomies.tags %}
        {% for tag in tags %}
          {{ link::for_tag(tag_name=tag) }}
        {% endfor %}
      </section>
    {% endif %}

    <section class="flex flex-between">
      {% if article.date %}
        {{ blog::date_stamp(value=article.date) }}
      {% endif %}
      {% if taxonomies %}
        {% for category in taxonomies.category %}
          {{ link::for_category(category_name=category) }}
        {% endfor %}
      {% endif %}
    </section>
  </section>
{% endmacro %}

{% macro for_subsection(subsection) %}
  <section>
    {% if subsection.pages %}
      {{ subsection.pages | length }} articles
    {% endif %}
    {% if subsection.subsections %}
      ({{ subsection.subsections | length }} subsections)
    {% endif %}
  </section>
{% endmacro for_subsetion %}

{% macro for_taxonomy(taxonomy, term_count) %}
  <section>
    {{ term_count }} terms under "{{ taxonomy.name }}"
  </section>
{% endmacro for_taxonomy %}

{% macro for_taxonomy_term(taxonomy, term, verbose=true) %}
  {% set page_count = term.pages | length %}

  <section>
    {{ page_count }} article{{ page_count | pluralize }} 
    {% if verbose %}
      with {{ taxonomy.name }} "{{ term.name }}"
    {% endif %}
  </section>
{% endmacro %}
