{%- import "macros/blog.html" as blog -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title_head %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/superkube@latest/dist/superkube.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="alternate"
          type="application/rss+xml"
          title="Main Site Feed"
          href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    {% block feed %}{% endblock feed %}
  </head>
  <body>
    <header class="navbar container-large centered edges">
      <div class="navbar-container">
        <div class="navbar-brand">
          <a href="/" class="brand">{{ config.title }}</a>
        </div>
        <div class="navbar-nav flex-auto">
          <nav class="nav nav-centered">
            <ul class="nav-list">
              <li class="nav-item"><a href="/blog/" class="nav-link">Blog</a></li>
              <li class="nav-item"><a href="/now/" class="nav-link">Now</a></li>
              <li class="nav-item"><a href="/about/" class="nav-link">About</a></li>
              <li class="nav-item"><a href="/follow/" class="nav-link">Follow</a></li>
          </nav>
      </div>
    </header>
    <main class="container-large centered edges">
      {% if section %}
        {{ blog::breadcrumb(context=section) }}
      {% elif page %}
        {{ blog::breadcrumb(context=page) }}
      {% endif %}
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
