{% extends "base.html" %}
{% import "macros/blog.html" as blog %}
{% import "macros/link.html" as link %}
{% import "macros/meta.html" as meta %}

{% block title_head %}{{ page.title }} | {{ config.title }}{% endblock %}

{% block content %}
  <article>
    {% if page.date %}
      {{ blog::timeline(page=page) }}
    {% endif %}
    <header class="mb-6">
      {% if article.description %}
        <h2 class="heading-tagline">{{ article.description }}</h6>
      {% endif %}
      {% if page.extra.cover_image %}
        {{ blog::cover_image(cover_image=page.extra.cover_image, page_assets=page.assets) }}
      {% endif %}

      <section>
        {{ meta::for_article(article=page) }}
      </section>
    </header>
    {% if page.extra.cite %}
      {% set cite = page.extra.cite %}
      <section class="container-small edges centered">
        <section class="card b-dark-medium bg-light r-base my-6 p-3">
          {% if cite.card %}
            <div class="card-image image-cover"
              {% for asset in page.assets %}
                {% if asset is matching(cite.card) %}
                  {% set card_image = resize_image(path=asset, width=600, op="fit_width") %}
                  <a href="{{ cite.url | safe }}">
                    <img class="r-top-base" src="{{ card_image.url | safe }}">
                  </a>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
          <div class="card-box p-6 pb-10">
            <h2 class="heading-medium">
              <a class="u-bookmark-of h-cite" href="{{ cite.url | safe }}">
                {{ cite.name }}
              </a>
            </h2>


            {% if cite.description %}
              <blockquote>
                {{ cite.description }}
              </blockquote>
            {% endif %}
          </div>

          {% if cite.site %}
            <footer class="text-small align-right">
              <p>From <a href="{{ cite.site | safe }}">{{ cite.site }}</a></p>
            </footer>
          {% endif %}
        </section>
      </section>
    {% endif %}
    {{ blog::toc(page=page) }}
    <h1>{{ page.title }}</h1>
    {{ page.content | safe }}
  </article>
{% endblock content %}
