{% extends "base.html" %}
{% import "macros/blog.html" as blog %}
{% import "macros/summary.html" as summary %}

{% block title_head %}{{ section.title }} | {{ config.title }}{% endblock %}

{% block content %}
  <section>
    <header>
      <h1>{{ section.title }}</h1>
      {% if section.pages %}
        <p>{{ section.pages | length }} articles</p>
      {% endif %}
      {% if section.subsections %}
        <p>{{ section.subsections | length }} subsections</p>
      {% endif %}
    </header>

  {{ section.content | safe }}

  {% if section.pages %}
    <section class="grid">
      {% for page in section.pages | sort(attribute="date") | reverse %}
        {{ summary::for_article(article=page) }}
      {% endfor %}
    </section>
  {% endif %}

  {% if section.subsections %}
    <section class="grid">
      {% for subsection_path in section.subsections | reverse %}
        {% set subsection = get_section(path=subsection_path) %}
        {{ summary::for_subsection(subsection=subsection) }}
      {% endfor %}
    </section>
  {% endif %}

{% endblock content %}
