{% extends "base.html" %}
{% import "macros/blog.html" as blog %}
{% import "macros/header.html" as header %}
{% import "macros/summary.html" as summary %}


{% block title_head %}{{ taxonomy.name }} {{ term.name }} | {{ config.title }}{% endblock %}

{% block feed %}
  {% set feed_path = taxonomy.name ~ "/" ~ term.name ~ "/atom.xml" %}
  {% set feed_title = taxonomy.name ~ " " ~ term.name ~ " Feed" %}
  <link rel="alternate"
        type="application/atom+xml"
        title="{{ feed_title | safe }}"
        href="{{ get_url(path=feed_path, trailing_slash=false) }}">
{% endblock feed %}

{% block content %}
  <nav class="breadcrumb">
    <ul class="breadcrumb-list">
      <li class="breadcrumb-item">
        <a class="breadcrumb-link" href="/">{{ config.title }}</a>
      </li>
      <li class="breadcrumb-item">
        <a class="breadcrumb-link" href="/{{ taxonomy.name | safe }}">{{ taxonomy.name }}</a>
      </li>
      <li class="breadcrumb-item active">
        <a class="breadcrumb-link" href="{{ current_url | safe }}">{{ term.name }}</a>
      </li>
    </ul>
  </nav>
  <section>
    {{ header::for_taxonomy_term(config=config, taxonomy=taxonomy, term=term) }}
    {% if paginator %}
      <div class="item flex flex-between">
        <div class="card item-column">
          {% if paginator.previous %}
            <a href="{{ paginator.previous }}" rel="prev">Newer</a>
          {% else %}
            These are the newest.
          {% endif %}
        </div>
        <div class="card item-column">
          Page {{ paginator.current_index }} of {{ paginator.number_pagers }}
        </div>
        <div class="card item-column">
          {% if paginator.next %}
            <a href="{{ paginator.next }}" rel="next">Older</a>
          {% else %}
            These are the oldest
          {% endif %}
        </div>
      </div>
    {% endif %}
    <section class="grid">
      {% if paginator %}
        {% for page in paginator.pages %}
          {{ summary::for_article(article=page) }}
        {% endfor %}
      {% else %}
        {% for page in term.pages %}
          {{ summary::for_article(article=page) }}
        {% endfor %}
      {% endif %}
    </section>
  </section>
{% endblock content %}
